<launch>
    <node pkg="rviz" type="rviz" name="rviz" />

    <!-- 关节以及机器人状态发布节点 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

    <!-- 为了点云数据添加的坐标变化 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="potin_cloud_tf" args="0 0 0 -1.57 0 -1.57 /support /support_depth"/>

</launch>