<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen" clear_params="true">
        <rosparam file="$(find demo)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find demo)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find demo)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find demo)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find demo)/param/base_local_planner_params.yaml" command="load" />
    </node>

</launch>