<launch>
    <!-- 启动 rviz -->  
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="rviz" type="rviz" name="rviz_node" args="-d $(find demo)/config/rviz.rviz"/>

    <!-- 加载地图服务 -->
    <include file="$(find demo)/launch/nav_map_load.launch" />
 
    <!-- 运行amcl -->
    <include file="$(find demo)/launch/amcl.launch" />

</launch>