<launch>
    <!-- 在服务器中载入xacro文件 -->    
    <param name="robot_description" command="$(find xacro)/xacro $(find demo)/urdf/car.xacro" />

    <!-- 启动gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- 【注意】这个 world_name 是固定写法，不可以更改-->
        <arg name="world_name" value="$(find demo)/world/box_house.world"/>
    </include>

    <!-- 添加机器人模型  -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_node" args="-urdf -model car -param robot_description" />

</launch>